[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
irc = "==19.1.0"
textblob = "==0.15.3"
configobj = "==5.0.6"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.8"
